/* .Container{
  display: flex;
  justify-content: flex-start;
  width: 100%;
} */

.Containerform {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Containerform h2{
width: 100%;
}

.forgetBtn{
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.logIn {
  width: 100%;
  padding: 10px 40px;
  background-color: #0C0C0C;
  color: #fff;
}

.Container .forgetBtn{
  padding: 0 10px 10px 0;
  font-weight: 600;
}

.Containerform input,.Container input{
  /* .Containerform input, .Container input { */
    /* padding: 10px 40px; */
    height: 35px;
    /* padding: 0 85px; */
    width: 350px;
}

.password,.email{
  color:#b2bbc3;
}

.inputBox{
  background-color: #e9cbcb;
  border:transparent;
}

.inputContainer{
  display: flex;
  justify-content: center;
}

.MainContainer h2{
  display: flex;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}